* { margin: 0px; padding: 0px; }
header { background-image: url("../images/Mask Group 1.png"); min-height: 90vh;}
.banner {padding: 100px;}
.banner span { color: #EB3A4C; }
.banner p { padding-bottom: 20px; }
.banner button {border: 1px solid #EB3A4C;border-radius: 20px;padding: 10px;margin-right: 30px;}
.banner button a {color: #EB3A4C;border: none;text-decoration: none;padding: 15px;}
.banner h1{

}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    position: relative;
    padding: 0;
    margin: 0px 13px;
}
.navbar-light .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    background: #EB3A4C;
    height: 2px;
    width: 0%;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::before{
    width: 48%;
}
.navbar-light .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right:0;
    bottom: 0;
    background: #EB3A4C;
    height: 2px;
    width: 0%;
    transition: .4s all ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 48%;
}
.banner button:hover{
   background-color: #EB3A4C;
   color: #fff;
}
.banner button a:hover{
    color: #fff;
}
.what{

padding: 60px 0px;

background-color: #FAFAFA;
}
.what span{

display: block;

height: 40px;

width: 2px;

background: #EB3A4C;

margin: auto;
}
.what h1{

text-align: center;

font-weight: 400;
}
.what p{

text-align: center;

font-family: inherit;
}
.slider{
    background-color: #FAFAFA;;
}
.web_design{

border: 1px solid transparent;

margin: 35px 20px;

padding: 20px 20px;

border-radius: 30px;

box-shadow: 1px 2px 10px;

background-color: #fff;
}
.web_design:hover{
    background-color: #EB3A4C;
    color: #fff;
}
.web_design span{
    
}
.web_design h1{
    
font-size: 30px;
    
font-weight: 400;
}
.web_design p{
    
font-family: inherit;
}
.icon_box{
    
height: 90px;
    
font-size: 50px;
}
.icon_box i{
    color: #c8cccf;
}
.explore_button{
    

}
.explore_button a{
    
} 
.new_what{
    background-color: #fff;
}
.mixitup ul{
    list-style: none;
    height: auto;
    overflow: hidden;
    width: 960px;
    margin: 15px auto 45px;
}
.mixitup ul li{
    padding: 15px 20px;
    height: auto;
    width: auto;
    float: left;
    cursor: pointer;
    margin-right: 100px;
    
}
.mix img{
    width: 100%;
    margin-bottom: 30px;
}
.about_us{
    background-color:#FAFAFA;

}
.about_us h1{
    
font-weight: 400;
    
margin: 40px;
}
.about_us p{
    
margin: 20px;
    
font-family: inherit;
}
.counter_part{
    position: relative;
    background-image: url(../images/pexels-alex-azabache-3879060.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter_part::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #000000b8;
    top: 0;
    z-index: -1;
}
.counter_part span {
    margin-bottom: 5px;
}
.counter_part h1{
    height: 200px;
    width: 200px;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    padding: 44px 0px;
    border: 4px solid #EB3A4C;
    text-align: center;
}
.counter_part span{

font-size: 45px;

color: #fff;
}
.about_us{
    margin: 50px;
    padding: 50px;

}
.about_us img{

}
.amazing_offer{

    text-align: start;
    
    font-family: Metropolis;
    }
    .a_offer{
    
    }
    .a_offer h1{
    
    text-align: start;
    
    text-transform: capitalize;
    
    font-size: 22px;
    
    font-weight: 600;
    
    margin-bottom: 10px;
    }
    
    .a_offer p{
    
    text-align: start;
    
    margin-top: 30px;
    }
    .mail{
    
    display: flex;
    }
    .mail form {
        
    display: flex;
        
    justify-content: center;
        
    align-items: center;
        
    border: none;
    }
    .mail form button{
        padding: 10px 16px;
        border-radius: 28px;
        font-size: 16px;
        text-transform: capitalize;
        color: #eb3a4c;
        border: 1px solid #eb3a4c;
        background: transparent;
        transition: .4s all ease-in-out;
    }
    .mail form button:hover{        
        color: #ea4e5f !important;    
        background: transparent !important;
    }
    .mail form input{
        border: none;
        border: 1px solid #eb3a4c;
        padding: 10px 20px;
        border-radius: 23px;
        background: transparent;
        text-align: start;
        margin-right: 10px;
        width: 80%;
    }
    .mail form input:focus{
        
        box-shadow: none;
        outline: none;
        border: 1px solid #eb3a4c !important;
    }
    .mail form input:focus-visible{
        border: none;
    }
    .mail form input::placeholder{
        font-size: 18px;
    }